*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    display: flex;
}

        /* Left Side CSS */
.left{
    width: 35%;
    height: 100%;
    background-color: #F2D184   ;
    color: #856115;
    /* padding: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem 3rem;
}
.slogan{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 3rem;
}
.leftimg{
    background-color: yellow;
    height: 25rem;
}
.leftimg img{
    width: 100%;
    height: 100%;
}
.credit{
    padding: 0 3rem;
}
.name{
    text-decoration: underline;
    font-weight: normal;
}

        /* Right Side CSS */
.right{
    width: 65%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.member{
    padding: 2rem 1rem;
    display: flex;
    justify-content: flex-end;
}
.member a{
    text-decoration: none;
    color: navy;
}
.formdiv{
    padding: 0 15rem;
}
.toast{
    color: #E3555A;
    padding: 1rem;
    font-weight: bold;
    /* display: none; */
}
.form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.group{
    display: flex;
    gap: 1rem;
    /* padding: 1rem 0; */
}
.inputlabel{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0.5rem 0;
}
.inputlabel input{
    height: 2rem;
    width: 100%;
    background-color: #F3F3F3;
    border: none;
    border-radius: .2rem;
    color: black;
    padding: 1rem 1rem;
}
.inputlabel input:focus{
    outline: none;
}
.inputlabel input::placeholder{
    color: rgb(177, 171, 171);
}

/* CheckBox and Button  */
.confirm{
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    font-size: 1rem;
}
.confirm input{
    width: 2rem;
    height: 2rem;
}
.confirm span{
    color: navy;
}
.btn{
    width: fit-content;
    padding: 0.8rem 3rem;
    color: white;
    font-weight: bold;
    background-color: #EA4B8B;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.info{
    padding-right: 7rem;
    font-weight: lighter;
    font-size: 0.8rem;
}
.info span{
    font-weight: normal;
    color: navy;
}